/* Universal Styling */
*{
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

/* Nav Styling */
nav {
    background-color:dodgerblue;
    display: flex;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin: 0;
    justify-content:center;
    align-items:flex-end;
    border-bottom: 4px solid white;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-flex;
    padding: 10px;
}

nav a {
    font-size: 2rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color:yellow;
}

/* Main Content */
main {
    position: relative;
    top: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: yellow;
    width: 100%;
    display: flex;
    justify-content:center;
}

#about {
    background-color: #B34AE8;
    width: 100%;
    display: flex;
    justify-content:flex-start;
}

#reading {
    background-color:#38E070;
    width: 100%;
    display: flex;
    align-items: center;
}

#testimonials {
    background-color: #D40427;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.heading-box {
    background-color:#D40427;
    width: 300px;
    height: 300px;
    border: 10px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4rem;
    color: white;
}

h2 {
    font-size: 2rem;
    text-align:center;
    font-weight: 500;
}

.subheading-box {
    background-color: #38E070;
    width:300px;
    height:300px;
    border: 10px solid yellow;
    display: flex;
    align-items: center;
    justify-content:center;
}

.about-box {
    background-color: dodgerblue;
    width: 300px;
    height: 300px;
    border: 10px solid #B34AE8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-description-box {
    background-color:white;
    width: 284px;
    height: 284px;
    border: 10px solid #B34AE8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding: 8px;
    font-size: 1.2rem;
    color:rgba(0,0,0,0.8)
}

.reading-box {
    background-color: #D40427;
    width: 300px;
    height: 300px;
    border: 10px solid #38E070;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-shrink: 0;
}

.testimonial-box {
    background-color: yellow;
    width: 284px;
    height: 284px;
    border: 10px solid #D40427;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.reading-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.reading-gallery img {
    width:150;
    height:225px;
    border: 8px solid #38E070;
}

figure {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 300px;
}

figcaption {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    width: 150px;
    text-align: center;
}

.testimonials {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
}

.testimonial-odd {
    background-color: yellow;
    height: 25%;
    width:300px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    font-style: italic;
    font-weight: 600;
}

.testimonial-even {
    background-color: dodgerblue;
    height: 25%;
    width:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    font-style: italic;
    font-weight: 600;
}

footer {
    background-color: dodgerblue;
    width: 100%;
}